{{>head}}
<div class="row">
    <div class="col-8">
        <center>
            <h1>Se busca</h1>
            <br>
            <p>Se perdió hace 2 semanas. Me dejó embarazado y necesito que se haga responsable.</p>
            <br>
            <p><b>P.D.:</b> Te extrañoooooooooooo!!!!!!!!!!!</p>
        </center>
    </div>
    <div class="col-4">
        <img src="assets/img/dany.jpg" class="img-thumbnail" alt="">
    </div>
</div>
{{>footer}}